* {

    margin: 0px;
    padding: 0px;

}

header {
    text-align: center;
}

li {
    font-size: 25px;
    display: inline;
    list-style: none;
    padding: 0 20px;
}

.menu {
    background-color: #acff2fa8;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    font-size: 26px;
    transition: .6s;
    color: rgb(196, 33, 33);
}

.principal {
    background-size: cover;
    height: 500px;
    max-height: 700px;
    background-repeat: no-repeat;
    background-image: url(/IMG/brunch.jpg);
}