* {

    margin: 0px;
    padding: 0px;

}

header {
    text-align: center;
}

.menu {
    background-color: #acff2fa8;
    margin-bottom: 10px;
}

.menu li {
    font-size: 25px;
    display: inline;
    list-style: none;
    padding: 0 20px;
}


a {
    color: #000000;
    text-decoration: none;
}

.menu a:hover {
    font-size: 26px;
    transition: .6s;
    color: rgb(196, 33, 33);
}

.principal {
    color: lavender;
    text-shadow: 0.1em 0.1em 0.3em black;
    font-size: 20px;
    background-size: cover;
    height: 500px;
    max-height: 700px;
    background-repeat: no-repeat;
    background-image: url(/IMG/brunch.jpg);
}

.secundario {
    padding: 10px;
}

.informativo {
    padding: 45px;
}

.breakfast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin: 10px 5px;
}

.produto-b {
    width: 400px;
    background-color: rgba(236, 229, 229, 0.562);
    text-align: center;
}

.produto-b h1 {
    font-size: 18px;
}


#prensadinho_img {
    background-image:url('/IMG/anuncio-prensadinho.png'); 
    background-size: contain;
    width: 100%; 
    height: 400px; 
  }

#bagel_img {
    background-image:url('/IMG/anuncio-bagel.png'); 
    background-size: contain;
    width: 100%; 
    height: 400px; 
  }

#panqueca_img {
    background-image:url('/IMG/anuncio-panqueca.png'); 
    background-size: contain;
    width: 100%; 
    height: 400px; 
  }

#combo-gama_img {
    background-image:url('/IMG/anuncio-combo-gama.png'); 
    background-size: contain;
    width: 100%; 
    height: 400px; 
  }


.cafe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin: 10px 5px;
}

.produto-c {
    width: 400px;
    background-color: rgba(236, 229, 229, 0.562);
    text-align: center;
}

.produto-c h1 {
    font-size: 18px;
}

#capuccino_img {
    background-image:url('/IMG/anuncio-capuccino.png'); 
    background-size: contain;
    width: 100%; 
    height: 400px; 
  }

#cafe-graos_img {
    background-image:url('/IMG/anuncio-cafe-graos.png'); 
    background-size: contain;
    width: 100%; 
    height: 400px; 
  }

#espresso_img {
    background-image:url('/IMG/anuncio-espresso.png'); 
    background-size: contain;
    width: 100%; 
    height: 400px; 
  }
  
.inf {
    padding: 10px;
    color: lavender;
    text-shadow: 0.1em 0.1em 0.3em black;
    font-size: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-position-x: center;
}

.inf img {
    
    background-size: contain;
    width: 70%;
    height: 70%;

}

.inf2 {
    text-align: center;
    padding: 10px;
}

.rodape {
    background-color: #acff2fa8;
    margin-top: 15px;
    text-align: center;
    line-height: 20px;
    padding: 8px;
}

.rodape li {
    font-size: 18px;
    display: inline;
    list-style: none;
    padding: 0 20px;
}

.rodape p {
    font-size: 15px;
}

